<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
   
    <display-name>spring-mvc-app</display-name>

    <!-- Welcome files configuration -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
   
    <!-- DispatcherServlet configuration -->
    <servlet>
        <servlet-name>studentDispatch</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
   
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>studentDispatch</servlet-name>
        <url-pattern>/student.com/*</url-pattern>
    </servlet-mapping>

    <!-- Context config location -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/studentDispatch-servlet.xml</param-value>
    </context-param>
</web-app>
